//Variables
$blue-color: #426da9;

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 10vh;
  background: #fff;
  color: #fff;
  box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.3);
}

.navStyle {
  text-decoration: none;
  color: #333;
  &:hover {
    color: $blue-color;
    text-decoration: underline;
  }
}
